[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
bs4 = "*"
ydata-profiling = "*"
sweetviz = "*"
ipykernel = "*"
lxml = "*"
openml = "*"
ipywidgets = "*"
requests = "*"
html5lib = "*"
ucimlrepo = "*"
psycopg2-binary = "*"
openpyxl = "*"
pygwalker = "==0.1.6.2a0"

[dev-packages]

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
